*
{
	text-align: center;
}

.txt
{
	font-size: 25px;
}

.input
{
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#confirm_btn
{
	margin-top: 20px;
	background-color: cyan;
	border-radius: 8px;
	cursor: pointer;
	width: 150px;
	padding: 5px;
}

#desc_input
{
	text-align: left;
	margin-top: 10px;
}

#priority_selection
{
	width: 120px;
	margin-top: 10px;
	cursor: pointer;
	font-size: auto;
}

#low
{
	background-color: green;
}

#med
{
	background-color: yellow;
}

#high
{
	background-color: red;
}

.top
{
	background-color: black;
}

.fade_in 
{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

.fade-out
{
    opacity: 1;
    animation-name: fadeOutOpacity;
	animation-timing-function: ease-out;
	animation-duration: .25s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity
{
    0%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}