
#title
{
    font-size: 35px;
    overflow: auto;
}   

#desc, #priority
{
    font-size: 20px;
    overflow: auto;
}

#delete_btn
{
    background-color: green;
    color: white;
    border-radius: 8px;
    float: right;
    font-size: 20px;
}

.high_priority
{
    background-color: red;
}

.med_priority
{
    background-color: orange;
}

.low_priority
{
    background-color: rgb(56, 238, 11);
}

.no_priority
{
    background-color: white;
}


