*
{
    text-align: center;

}

body
{
    background: rgb(78,133,131);
    background: radial-gradient(circle, rgba(78,133,131,1) 0%, rgba(42,142,180,1) 50%, rgba(0,125,255,1) 100%);
}

h1
{
    font-size: 50px;
}

.overlay
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
}

#new-todo-btn
{
    background:url("Images/add_sign.png") no-repeat;
    background-size: 100%;
    background-color: white;
    border-radius: 50%;
    border-width: 5px solid black;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
}