*
{
    text-align: center;
}

body
{
    background: rgb(78,133,131);
    background: radial-gradient(circle, rgba(78,133,131,1) 0%, rgba(42,142,180,1) 50%, rgba(0,125,255,1) 100%);
}

h1, h2
{
    font-size: 60px;
}

.overlay
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#modal
{
    background-color: rgb(166, 255, 0);
    width: 20%;
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#new-todo-btn
{
    background:url("Images/add_sign.png") no-repeat;
    background-size: 100%;
    background-color: white;
    border-radius: 50%;
    border-width: 5px solid black;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
}

#todo-box
{
    color: black;
    border-radius: 8px;
    padding: 5px;
    width: 30em;
    margin-top: 50px;
}

#task-div
{
    display: inline-flex;
    margin-right: 20px;
}

#about-btn
{
    background-color: rgb(251, 255, 0);
    border-radius: 10px;
    border-color: 1px solid black;
    font-size: 1.5em;
    margin-top: 50px;
    padding: 6px;
    width: 12%;
    cursor: pointer;
}

#about ul
{
    list-style: none;
}

#about p, #about li
{
    font-size: 30px;
}